$background: #121212;
$white: #FCFCFC;
$mainBrandColor: #FFBD59;
$secondaryBrandColor: #51B4BC;

// general
@font-face {
    font-family: migraBold;
    src: url(/public/fonts/Migra\ Extrabold\ 800.otf);
}

@font-face {
    font-family: migraLight;
    src: url(/public/fonts/Migra\ Extralight\ 200.otf);
}

body{
    background-color: $background;
    color: $white;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

h1, h2, h3{
    font-family: migraBold, sans-serif;
}

h1, h2{
    color: $mainBrandColor;
}

h2{
    font-size: 3rem;
    margin-top: 30px;
}

h3{
    font-size: 2rem;
}

h2, h3{
    margin-bottom: 0;
}

p{
    margin: 0 auto;
    margin-bottom: 15px;
    line-height: 1.7rem;
    width: 80%;

}

img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
    display: block;
    height: auto;
    
}

button{
        background-image: linear-gradient(to right, $secondaryBrandColor,  $mainBrandColor  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        display: block;
        border: none;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
      }

button, a{
    cursor: pointer;
}      
// nav
.mobile-nav{
    button{
        background-image: none;
        background-color: transparent;
        position: absolute;
        position: fixed;
        right: -20px;
        top: -10px;
        z-index: 3;

    span{
        display: block;
        border-radius: 3px;
        height: 5px;
        width: 50px;
        margin-bottom: 10px;
        opacity: 1;
        box-shadow: 2px 2px 10px #121212;
        background-color: #FFBD59;
    }
    }

    .mobile-menu{
        display: none;
        height: 100vh;
        width: 100vw;
        position: absolute;
        position: fixed;
        z-index: 2;
        background: rgba(18, 18, 18, 0.9);

        ul{
            height: 90vh;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            li{
                a{
                // font-family: migraBold, sans-serif;
                font-weight: 600;
                font-size: 2rem;
                color: $mainBrandColor;
                text-decoration: none;
                text-shadow: 2px 2px 10px #121212;
                }

                .btn{
                    background: #FFBD59;
                    background: radial-gradient(circle farthest-corner at center center, #FFBD59 0%, #51B4BC 100%);
                    padding: 15px 30px;
                    color: $white;
                    box-shadow: 2px 2px 10px #121212;
                    text-shadow: none;
                }
            }
        }
    }
}

.desktop-nav{
    display: none;
}

//header

header{
    min-height: 100vh;
    background-image: url("/public/images/puppy.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

    .header-container{
        width: 90%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    h1, h3, i{
        text-shadow: 2px 2px 10px #121212;
    }

    h1{
        font-size: 4rem;
        margin-bottom: 15px;
    }

    h3{
        font-family: migraLight, sans-serif;
        font-size: 2rem;

    }

    button{
        margin: 0 auto;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px #121212;
    }

    i{
        color: $mainBrandColor;
        font-size: 3rem;
        margin: 10px;
    }
}

// aubot

.about{
    img{
        display: none;
    }

    .background-image-1, .background-image-2{
        background-size: cover;
        background-attachment: fixed;
    }
    
    .background-image-1{
        height: 200px;
        background-image: url("/public/images/pray.jpg");
        background-position: left;
    }

    .background-image-2{
        height: 200px;
        background-image: url("/public/images/yoga_class.jpeg");
        background-position: center;
    }

    p{
        span{
            font-family: migraLight, sans-serif;
            font-size: 1.5rem;
            line-height: 2.5rem;
            background: #FFBD59;
            background: radial-gradient(circle farthest-corner at center center, #FFBD59 0%, #51B4BC 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    div{
        margin-bottom: 30px;
    }
}

// Services

.services{
    img{display: none;}

    .background-image-3, .background-image-4{
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .background-image-3{
        height: 200px;
        background-image: url("/public/images/squat.jpg");
        background-position: left;
    }

    .background-image-4{
        height: 200px;
        background-image: url("/public/images/massage.jpeg");
        background-position: center;
    }

    button{
        margin: 0 auto;
    }
}

//contact

.contact{
    form{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    }

    input, textarea{
        width: 100%;
        margin-bottom: 15px;
        background: $white;
    }

    .message{
        height: 150px;
    }

    button{
        margin: 0 auto;
        margin-top: 30px;
    }

}